* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
}

li {
  list-style-type: none;
  float: right;
  margin-right: 30px;
  text-align: center;
}

.top {
  display: inline-block;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  position: sticky;
}

.alone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #007408;
}

.alone li {
  margin-right: 50px;
  margin-left: 50px;
}

.alone li a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.alone li a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.alone li a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.alone li a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

.main {
  background-color: #03ac0e;
}

.foto {
  background-image: url(foto1.jpg);
  max-width: 100%;
}

.numTwo {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: fit-content;
}

.corousel {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom div {
  margin-bottom: 36px;
}
